<h3>Welkom @ViewData["User"]!</h3>
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/DashboardIndex.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="AllLijsten">
    @foreach (string n in Model.Lijsten)
    {
        <text>
            <div class="LijstBlok">
                <button class="btn btn-primary" onclick="window.location.href = '@Url.Action("ZieLijst", "Dashboard", new { id = n})'">@n</button>
                <button class="btn btn-info" onclick="window.location.href = '@Url.Action("OptieMenu", "Overhoring", new { id = n})'">Overhoren</button>
                <a class="btn btn-danger" onclick="window.location.href = '@Url.Action("DeleteList", "Dashboard", new { id = n})'"> <span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
        </text>
    }
</div>

    <button class="btn btn-success" onclick="window.location.href = '@Url.Action("LijstMaken", "Dashboard")'">Klik hier om een lijst te maken</button>
</body>

