@{

}
@using Business
@using DataModellen
@model SLT_Site.Models.Dashboard.PublicListModel

<h3>@ViewData["User"]</h3>
<div id="AllLijsten">
    @foreach (Lijst n in Model.PublicLists)
    {
        <text>
        <a asp-area="" asp-controller="Dashboard" asp-action="ZieLijst" asp-route-id="@n.Titel?@n.Gebruikersnaam">@n.Titel - @n.Gebruikersnaam - @n.Soort - @n.Datum </a>
        </text>
    }
</div>


