@{
    Layout = "";
}
@model AccountModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SLT</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")"/>
</head>
<body>
<div id="MainLogo">
    <h3>Student Leer Tool</h3>
</div>
@using(Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(x => x.username)
            @Html.TextBoxFor(x => x.username)
            @Html.ValidationMessageFor(x => x.username,"",new {@style= "color: red;"} )
        </div>
        <div>
            @Html.LabelFor(x => x.password)
            @Html.PasswordFor(x => x.password)
            @Html.ValidationMessageFor(x => x.password)
        </div>
        <div>
            @Html.LabelFor(x => x.password2)
            @Html.PasswordFor(x => x.password2)
            @Html.ValidationMessageFor(x => x.password2)
        </div>
        <div>
            @Html.LabelFor(x => x.email)
            @Html.TextBoxFor(x => x.email)
            @Html.ValidationMessageFor(x => x.email)
        </div>
        <div>
            @Html.LabelFor(x => x.fname)
            @Html.TextBoxFor(x => x.fname)
            @Html.ValidationMessageFor(x => x.fname)
        </div>
        <div>
            @Html.LabelFor(x => x.lname)
            @Html.TextBoxFor(x => x.lname)
            @Html.ValidationMessageFor(x => x.lname)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
}
</body>
</html>