@{
}
@using SLT_Site.Models.Home
@model AccountModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SLT</title>
</head>
<body>
<div>
    <h3>Maak een Admin aan</h3>
</div>
@using(Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username)
            @Html.ValidationMessageFor(x => x.Username)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
            @Html.LabelFor(x => x.Password2)
            @Html.PasswordFor(x => x.Password2)
            @Html.ValidationMessageFor(x => x.Password2)
        </div>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Fname)
            @Html.TextBoxFor(x => x.Fname)
            @Html.ValidationMessageFor(x => x.Fname)
        </div>
        <div>
            @Html.LabelFor(x => x.Lname)
            @Html.TextBoxFor(x => x.Lname)
            @Html.ValidationMessageFor(x => x.Lname)
        </div>
        <div>
            <input type="submit" value="Creëer Admin!" />
        </div>
    </div>
}

@if (ViewData["Bericht"] != null)
{
    <div>
        <p>Bericht: @ViewData["Bericht"] </p>
    </div>
}
</body>
</html>