@using DataModellen
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Admin.css")" />
</head>
<body>
<div id="AllLijsten">
    <ul>
    @foreach (Lijst n in Model.PublicLists)
    {
        <text>
        <li><a asp-area="" asp-controller="Dashboard" asp-action="ZieLijst" asp-route-id="@n.Titel?@n.Gebruikersnaam">@n.Titel - @n.Gebruikersnaam - @n.Soort - @n.Datum </a>
        <a asp-area="" asp-controller="Admin" asp-action="ApproveList" asp-route-id="@n.Titel?@n.Gebruikersnaam"> Keur Lijst goed </a>
        <a asp-area="" asp-controller="Admin" asp-action="RemovePublic" asp-route-id="@n.Titel?@n.Gebruikersnaam">Haal public weg </a></li>
        </text>
    }
    </ul>
</div>
</body>
